/* body {
    background-color: aliceblue;
}

/* root house colors */

:root {
  /* house colors */
  --hufflepuff: rgba(217, 208, 56, 0.25);
  --gryffindor: rgba(151, 9, 23, 0.3);
  --slytherin: rgba(44, 124, 27, 0.25);
  --ravenclaw: rgba(25, 87, 147, 0.25);
  --background: rgba(0, 0, 0, 0.9);
  --font-blue: rgba(0, 150, 180, 1);
  --font-blue_hover: rgba(0, 150, 180, 0.5);
}

/* basic styles */

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
}

.bg_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 120%;
  height: 120%;
  background-image: url(img/harry-potter-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  min-height: 100vw;
  z-index: 10;
  background-color: var(--background);
  padding: 2vw 2vw 0vw 2vw;
}


nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

nav ul {
  margin: 0.5rem 0 1.5rem 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  background-color: var(--font-blue);
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin: 0 0.5rem 0 0;
}

nav li:hover {
  background-color: var(--font-blue_hover);
  cursor: pointer;
}

nav .statusoff {
  background-color: var(--font-blue_hover);
  color: #000000;
  cursor: default;
}

nav .statuson {
  background-color: var(--font-blue);
  color: #ffffff;
  cursor: pointer;
}

.content {
  padding: 3vw;
}

h1 {
  font-family: 'Viga', sans-serif;
  font-size: 5rem;
  position: absolute;
  text-align: center;
  width: 60vw;
  top: 35vh;
  left: 0vw;
  text-shadow: 4px 8px 12px #000000;
}

h2 {
  font-family: "Copse", serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-style: italic;
  margin-top: 0;
}

.info {
  position: absolute;
  top: 0;
  left: 49vw;
  z-index: 50;
  text-align: right;
  margin: 0.5rem 0 1.5rem 0;
}

main .student {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 0.5rem;
  position: relative;
}

main .student_name:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.025);
}

main .student_name:hover::before {
  content: "\25ba";
  font-size: 1.5rem;
  position: absolute;
  top: 22px;
  left: -35px;
}

main .crest {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  right: 1.25rem;
  z-index: 100;
  margin: 1.5rem 0 0 3rem;
}

main .house {
  color: var(--font-blue);
  font-size: 1.75rem;
}

main .expel {
  position: relative;
  background-color: var(--font-blue);
  margin: auto;
  margin-bottom: 2.7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

main .expel:hover {
  background-color: var(--font-blue_hover);
  cursor: pointer;
}

/* Styles for adding colors and crests to different houses in js */

.hufflepuff {
  background-color: var(--hufflepuff);
}

.gryffindor {
  background-color: var(--gryffindor);
}

.slytherin {
  background-color: var(--slytherin);
}

.ravenclaw {
  background-color: var(--ravenclaw);
}

#student_counter {
  margin: 2rem 0 0 0;
}

#student_counter::before {
  content: "Enrolled students: ";
  padding: 0 0.5rem 0;
}

#hufflepuff_counter::before {
  content: "Hufflepuff: ";
  padding: 0 0.5rem 0;
}

#gryffindor_counter::before {
  content: "Gryffindor: ";
  padding: 0 0.5rem 0;
}

#ravenclaw_counter::before {
  content: "Ravenclaw: ";
  padding: 0 0.5rem 0;
}

#slytherin_counter::before {
  content: "Slytherin: ";
  padding: 0 0.5rem 0;
}

#expelled_counter::before {
  content: "Expelled students: ";
  padding: 0 0.5rem 0;
}

#modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 100;
  overflow: auto;
}

#modal.show {
  opacity: 1;
  pointer-events: all;
}

#modal-content {
  position: relative;
  color: #fff;
  text-align: left;
  font-size: 1rem;
  min-width: 25vw;
  max-width: 70vw;
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 3vw 3vw 4vw;
  margin: 0 0 2vw;
}

#modal .status {
  grid-column: 1/2;
  color: #ffffff;
  background-color: red,
}

#modal .student {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  position: relative;
}

#modal .house {
  color: var(--font-blue);
  font-size: 1.75rem;
  margin: 0;
}

#modal .crest {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  z-index: 100;
  grid-column: 1/2;
}

#modal .image {
  width: 12rem;
  min-height: 12rem;
}

#modal #closemodal {
  font-size: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#modal #closemodal:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.2);
}

#modal .expel,
#modal .insquad {
  display: inline-block;
  width: 10rem;
  position: relative;
  background-color: var(--font-blue);
  margin: 2;
  margin-bottom: 2.7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

#modal .expel:hover,
#modal .insquad:hover {
  background-color: var(--font-blue_hover);
  cursor: pointer;
}

#modal .expelstatus::before {
  content: "Expelstatus: ";
}

#modal .bloodstatus {
  font-size: 1.5rem;
}

.hide {
  display: none;
}